.header {
  position: relative;
  height: 95vh;
  background-size: cover;
  background-position: top;
  background: linear-gradient(
                  to right bottom,
                  rgba($color_primary_light, 0.8),
                  rgba($color_primary_dark, 0.8)),
  url("../../img/hero.jpg");

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);//to work in all browsers
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }
}

.section-about {
  background-color: $color-grey-light;
  margin-top: -20vh;
  padding: 25rem;
}

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-size: cover; //Important!!! so image is all over background.
  background: linear-gradient(
                  to right bottom,
                  rgba($color_primary_light, 0.8),
                  rgba($color_primary_dark, 0.8)),
  url("../../img/nat-4.jpg");
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light;
  margin-top: -20vh;
  padding: 30rem 10rem;
}

.section-stories {
  background-color: $color-grey-light;
  margin-top: -20vh;
  padding: 10rem 10rem;
}
