.features {
  background-color: white;
  grid-column: cells-start/cells-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
  padding: 15rem 0;

  .feature {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-row-gap:    1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
      width: 4.5rem;
      height: 4.5rem;
      fill: $color-primary;
      grid-row: 1/span 2;
      transform: translateY(-1rem);
    }

    &__text {
      font-weight: 300;
      font-size: 1.6rem;
      color: #000;
    }
  }
}

