.story {
  &__images {
    background-color: $color-primary-dark;
    grid-column: full-start/cell-end 4;

  }

  &__text {
    background-color: $color-grey-light-1;
    color: #000;
    grid-column: cell-start 5/full-end;
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    justify-content: center;
  }

  &__paragraph {
    font-size: 1.4rem;
  }
}
