$color_primary: #55c57a;
$color_primary_light: #7ed56f;
$color_primary_dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color_grey_dark: #777;
$color-grey-light: #eeeeee;
$color_white: #fff;
$color_black: #000;
$color_shade: #ddd;
$color_line: #d55;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;

$default-font-size: 1.6rem;
