
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 100rem;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color_black, 0.2);
    &::after {
      transform: scale(1.4, 1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color_black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color_grey_dark;
    &::after {
      background-color: $color-white;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    color: $color_primary;
    border-bottom: 2px solid $color_primary;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba($color_black, 0.2);
    background-color: $color_primary;
    color: $color-white;
    &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($color_black, 0.2);
    }
  }
}
