.card {
  // Functionality
  position: relative;
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;

  &__side {
    background-color: $color-white;

    border-radius: 3px;
    overflow: hidden; // If sth in card__side is bigger than card__side it won't show that part that goes over.
    //Needs that because of radius.

    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s ease;

    &--front {
      box-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    &--back {
      transform: rotateY(180deg);
      background-color: $color-secondary-light;
      box-shadow: 1rem 2rem 2rem rgba($color-black, 0.2);
      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }
    }
  }

  &:hover &__side--front{
    transform: rotateY(-180deg);
  }
  &:hover &__side--back{
    transform: rotateY(0deg);
  }

  // Front look
  &__picture {
    background-blend-mode: screen;
    background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark),
    url("../img/nat-5.jpg");
    height: 23rem;
    background-size: cover;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);//to work in all browsers
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  }

  &__heading {
    color: $color-white;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 300;

    &--span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(to bottom right, rgba($color-secondary-light, .85),
              rgba($color-secondary-dark, .85));
      padding: 1rem 1.5rem;
    }
  }

  &__details {
    text-align: center;
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        padding: 1rem;
        font-size: 1.5rem;
        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
  }
  &__price {
    color: $color-white;
    text-align: center;

    &--small {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    &--main {
      font-size: 6rem;
      font-weight: 100;
      width: 60%;
    }
  }
}
