.story {
  background-color: $color-white;
  width: 75%;
  margin: 0 auto;
  padding: 5rem;
  box-shadow: .5rem 1rem 2rem rgba($color-black, .1);
  transform: skewX(-$skew-mediumX-deg);
  border-radius: 3px;
  &__shape {
    height: 15rem;
    width: 15rem;
    //display: inline-block;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 3rem;
    position: relative;
    .story__image {
      transition: all .2s;
      transform: scale(1.5);
      height: 100%;
    }

  }

  &__text {
    //display: inline-block;
    //float: left;
    font-size: 1.6rem;
  }

  &__caption {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    position: absolute;
    color: $color-white;
    top: 50%;
    left: 50%;
    transition: all .5s;
    transform: translate(-50%, 0%);
    opacity: 0;
  }

  &:hover &__image {
    filter: blur(3px) brightness(80%);
    transform: scale(1);
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

}
